.sidebarWrapper {
  grid-area: sidebar;

  background: #FFFFFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}

.nav{
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.userWrapper{
  display: none;
  width: 100%;
  border-bottom: 0.5px solid #9C9C9C;
}
.user{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 20px;
  justify-content: center;
  img{
    width: 40px;
    height: 40px;
    margin-right: 5px;
  }
}

.sidebarItem {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin: 32px 0 36px 0;

  img {
    width: 24px;
    height: 24px;
    margin-bottom: 8px;
  }
}

//(min-width: 370px) and
@media screen and (max-width: 634px) {
  .sidebarWrapper {
    position: fixed;
    z-index: 2;
    display: flex;
    width: 50%;
    top: 80px;
    flex-direction: column;
    height: 90%;
    opacity: 0;
    transition: 0.8s;
    transform: translateX(-100%);
  }
  .userWrapper {
    display: block;
  }
  .active{
    transform: translateX(0%);
    opacity: 1;
    transition: all 0.8s ease;
  }
  .nav{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }



  .sidebarItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 32px 0 36px;
    img{
      margin-right: 10px;
    }
  }
}



